@import "tailwindcss";

@theme {
  --color-primary: #d96d7d;
  --color-primary-hover: #c65c6b;
  --color-sage: #7DAA92;
  --color-gold: #D4A76A;
  --color-gold-hover: #c2965b;
  --color-paper-white: #FFF8F4;
  --color-soft-charcoal: #2F2F2F;
  --color-background-light: #f8f6f6;
  --color-background-dark: #1f1315;

  --font-display: Inter, sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-background-light text-soft-charcoal dark:bg-background-dark dark:text-paper-white font-display;
  }
}